.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(to bottom, #f89151, #FFA500);
  flex-wrap: nowrap; /* Asegura que los elementos no se envuelvan */
  min-height: 60px; /* Fija una altura mínima */
}

.navbar .navbar-logo {
  max-width: 170px;
  height: auto;
  margin-right: 10px;
}

.navbar-nav {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navbar-nav .nav-item {
  font-size: 18px;
}